.cart {
  display: grid;
  grid-template-columns: auto 429px;
  gap: 32px;
  padding-bottom: 26px;

  @media screen and (max-width: calc($screen-width-desktop-m - 1px)) {
    grid-template-columns: auto 303px;
  }

  @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
    gap: 16px;
  }

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    grid-template-columns: 1fr;
  }

  &__order {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__title {
    margin: 11px 0 27px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.2px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 36px;
    padding: 0;
    border: none;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      margin-bottom: 28px;
    }
  }

  &__items-top {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
  }

  &__item-name {
    max-width: 275px;
    margin: 0 0 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      font-size: 14px;
      line-height: 20px;
    }

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      margin-top: -1px;
      max-width: 100%;
    }

    @media screen and (max-width: calc($screen-width-mobile-s)) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 192px;
    }

    &_all {
      margin: -4px 0 0;
      padding-left: 33px;

      @media screen and (max-width: calc($screen-width-tablet - 1px)) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &_not-available {
      max-width: 309px;
    }
  }

  &__arrow {
    height: 100%;
    width: 20px;
    margin-left: auto;
    border: none;
    background-color: transparent;
    background-image: url("./images/svg/arrow_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s linear;
    cursor: pointer;

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      position: relative;
      right: 4px;
      top: 1px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &_direction_up {
      transform: rotate(180deg);
    }
  }

  &__items-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid $color-background-black-transparent-10;
    transition: all 0.4s ease-out;
    overflow: hidden;
    visibility: hidden;
    max-height: 0;

    &_visible {
      max-height: 500px;
      visibility: visible;

      @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
        max-height: 800px;
      }

      @media screen and (max-width: calc($screen-width-mobile - 1px)) {
        gap: 0;
      }
    }
  }

  &__item {
    position: relative;
    width: 100%;
    padding-top: 12px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      padding-bottom: 16px;

      &:not(:last-child) {
        border-bottom: 1px solid $color-background-black-transparent-10;
      }
    }
  }

  &__item-not-available {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto 100px 110px;
    grid-template-areas: "item-info item-order item-price";
    gap: 16px;
    color: $color-system-gray;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      grid-template-columns: auto 210px;
      grid-template-areas:
        "item-info item-order"
        "item-info item-price";
    }
  }

  &__item-info {
    position: relative;
    display: grid;
    grid-template-columns: 72px minmax(60px, auto) 100px 110px;
    grid-template-areas: "item-image item-description item-order item-price";
    gap: 16px;
    padding-left: 34px;

    @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
      padding-left: 0;
      grid-template-columns: 80px minmax(0, auto) 100px;
      grid-template-areas:
        "item-image item-description item-price"
        "item-image item-description item-order";
    }

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      grid-template-columns: 80px auto;
      row-gap: 0;
      grid-template-areas:
        "item-image item-price"
        "item-image item-description"
        "item-order item-order";
    }

    &_not-available {
      padding: 0;
      grid-template-areas:
        "item-image item-description item-order"
        "item-image item-description item-price";
      color: $color-system-gray;

      @media screen and (max-width: calc($screen-width-mobile - 1px)) {
        grid-template-columns: 80px auto;
        grid-template-areas:
          "item-image item-price"
          "item-image item-description"
          "item-order item-order";
      }
    }
  }

  &__item-image {
    width: 72px;
    height: 96px;
    object-fit: contain;
    border-radius: 8px;
    grid-area: item-image;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      width: 80px;
      height: 106px;
    }

    &_not-available {
      filter: grayscale(1);
    }
  }

  &__item-description {
    grid-area: item-description;
    width: fit-content;
  }

  &__item-properties {
    display: flex;
    gap: 16px;
    margin: 0;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    list-style: none;
    padding: 0;

    &_empty {
      display: none;
    }
  }

  &__item-properties-item {
    @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__item-size {
    position: absolute;
    display: none;
    font-size: 14px;
    line-height: 20px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      top: calc(106px - 22px - 4px);
      left: 4px;
      width: 22px;
      height: 22px;
      background-color: $color-background-white;
      border-radius: 6px;
    }

    &_visible {
      display: none;

      @media screen and (max-width: calc($screen-width-tablet - 1px)) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__item-store {
    margin: 8px 0 4px;
    font-size: 13px;
    line-height: 16px;
    color: $color-system-gray;

    &_disabled {
      display: none;
    }
  }

  &__item-seller {
    display: flex;
    gap: 8px;

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      display: none;
    }

    &_disabled {
      display: none;
    }
  }

  &__item-seller-name {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
    color: $color-system-gray;
  }

  &__item-seller-info {
    position: relative;
    width: 17px;
    height: 17px;
    padding: 0;
    background-color: transparent;
    background-image: url("./images/svg/info_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }

  &__item-seller-info-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item-seller-info-name {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
  }

  &__item-seller-info-text {
    margin: 0;
    font-size: 13px;
    line-height: 16px;
  }

  &__item-property {
    margin: 0;
  }

  &__item-warning {
    color: $color-system-orange;
    font-size: 13px;
    line-height: 16px;

    @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
      font-size: 13px;
      line-height: 16px;
    }

    &_empty {
      display: none;
    }
  }

  &__item-order {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-area: item-order;

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      margin-top: 12px;
      gap: 16px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__item-counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 4px;
    height: 44px;
    border-radius: 8px;
    background-color: $color-background-white;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      height: 32px;
    }

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      width: 80px;
    }

    &_disabled {
      display: none;
    }
  }

  &__item-counter-value {
    min-width: 30px;
    text-align: center;

    @media screen and (max-width: calc($screen-width-desktop-s - 1px)) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__item-counter-button {
    padding: 0;
    width: 30px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &__item-actions {
    display: flex;
    gap: 16px;
    align-self: flex-end;
    transition: all 0.2s linear;
    opacity: 0;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      opacity: 1;
    }

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      margin-left: auto;
      align-self: center;
    }
  }

  &__item:hover &__item-actions {
    opacity: 1;
  }

  &__item-button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s linear;
    cursor: pointer;

    &:active {
      opacity: 0.3;
    }

    &_type_like {
      background-image: url("./images/svg/like_icon.svg");

      &:hover {
        opacity: 0.5;
      }
    }

    &_type_like-active {
      background-image: url("./images/svg/like_icon_violet.svg");

      &:hover {
        opacity: 0.5;
      }
    }

    &_type_remove {
      background-image: url("./images/svg/trash_icon.svg");

      &:hover {
        background-image: url("./images/svg/trash_icon_orange.svg");
      }
    }
  }

  &__item-price {
    justify-self: end;
    align-self: start;
    text-align: end;
    grid-area: item-price;

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      display: flex;
      gap: 5px;
      justify-self: start;
      text-align: start;
    }

    &_disabled {
      visibility: hidden;
    }
  }

  &__item-price-total {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: -4px 0 0;
  }

  &__item-price-total-value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      font-size: 16px;
      line-height: 24px;
    }

    &_small {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.3px;
    }
  }

  &__item-price-currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__item-price-old {
    margin: 0;
    margin-left: auto;
    width: fit-content;
    font-size: 13px;
    line-height: 16px;
    color: $color-system-gray;
    text-decoration: line-through;
    border-bottom: 1px dashed $color-system-gray;
    transition: all 0.2s linear;

    @media screen and (max-width: calc($screen-width-mobile - 1px)) {
      font-size: 12px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__item-price-tooltip {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    font-size: 13px;
    line-height: 16px;
  }

  &__item-price-tooltip-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__item-price-discount {
    margin: 0;
    color: $color-system-gray;
  }

  &__item-price-discount-value {
    margin: 0;
  }

  &__items-not-available {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 12px 24px 24px;
    border: none;
    border-radius: 16px;
    background-color: $color-background-white;
    box-shadow: 0px 0px 1px 0px $color-background-black-transparent-30,
      0px 2px 10px 0px $color-background-black-transparent-15;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      background-color: $color-background-smoky;
      box-shadow: none;
    }
  }

  &__summary-table {
    width: 100%;
    border: 0;
    padding: 0;
    border-collapse: collapse;
  }

  &__summary-table-heading {
    height: 39px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
  }

  &__summary-table-data {
    line-height: 22px;
  }

  &__summary-currency {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  &__summary-title {
    display: inline-block;
    margin: 0;
  }

  &__summary-edit {
    float: right;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url("./images/svg/edit_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__summary-address {
    margin: 6px 0 4px;
    font-size: 13px;
    line-height: 16px;
  }

  &__summary-date {
    margin: 0;
    width: fit-content;
    font-size: 13px;
    line-height: 16px;
    color: $color-interface-accent-1;
    border-bottom: 1px dashed $color-interface-accent-1-transparent-20;
    transition: opacity 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__summary-payment-option {
    padding: 10px 8px 12px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 8px;
    background-color: $color-background-smoky;
  }

  &__summary-tip {
    margin: 10px 0 0;
  }

  &__submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: $color-interface-accent-1;
    color: $color-system-white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__summary-tip {
    position: relative;
    font-size: 13px;
    line-height: 16px;

    &_underlined {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $color-background-black-transparent-10;
      transition: opacity 0.2s linear;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    &_type_agreement {
      padding-top: 4px;
      padding-left: 21px;

      @media screen and (max-width: calc($screen-width-desktop-m - 1px)) {
        max-width: 230px;
      }
    }

    &_type_agreement::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 24px;
      content: "";
      background-image: url("./images/svg/check-mark_icon_black.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
