.header {
  width: 100%;
  background-color: $color-system-violet;
  color: $color-system-white;

  &__content {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    padding: 17px 0;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      padding: 14px 13px;
    }
  }

  &__left {
    display: flex;
    gap: 16px;
    margin-left: 24px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin: 0;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__burger-menu-button {
    width: 48px;
    height: 48px;
    padding: 0;
    background-image: url("./images/svg/burger-menu_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid $color-background-white-transparent-45;
    transition: opacity 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      width: 28px;
      height: 28px;
      border: none;
      background-image: url("./images/svg/burger-menu_icon_mobile.svg");
    }
  }

  &__title {
    max-width: 106px;
    margin: -2px 0 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 85.714%;
    font-variant: all-small-caps;
    letter-spacing: 3.5px;
    text-transform: uppercase;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin-top: -4px;
      max-width: 205px;
      font-size: 26px;
      line-height: 24px;
      letter-spacing: 3.4px;
    }
  }

  &__search-form {
    position: relative;
    width: 100%;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      display: none;
    }
  }

  &__search-form-input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 20px 4px;
    border: none;
    border-radius: 36px;
    background-color: $color-background-white-transparent-20;
    color: $color-system-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    &::placeholder {
      color: $color-system-white;
      opacity: 0.5;
    }

    &:focus {
      outline: 2px solid $color-interface-accent-1;
    }
  }

  &__search-form-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 100%;
    background-color: transparent;
    background-image: url("./images/svg/search_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.4;
    transition: opacity 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.2;
    }

    &:active {
      opacity: 0.1;
    }
  }

  &__search-button {
    display: none;
    width: 28px;
    height: 28px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url("./images/svg/search_icon_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    list-style: none;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      display: none;
    }
  }

  &__menu-button {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    align-items: center;
    width: 56px;
    height: 53px;
    background-color: transparent;
    border: 0;
    color: $color-system-white;
    transition: opacity 0.2s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__menu-button-icon {
    width: 28px;
    height: 28px;
    fill: $color-system-white;

    &_type_cart {
      margin-left: -10px;
    }
  }

  &__menu-button-name {
    margin: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.077%;
  }
}
