.order-details {
  margin: 16px 0 0;
  padding: 16px 24px 14px;
  border: none;
  background-color: $color-background-white;
  border-radius: 16px;

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    margin-top: 12px;
    padding: 16px 16px 10px;
  }

  &_place_top {
    margin-top: 40px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin-top: 32px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.2px;
    }
  }

  &__edit {
    margin-top: 6px;
    padding: 0;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent;
    color: $color-interface-accent-1;
    border: none;
    transition: all 0.2s linear;
    cursor: pointer;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin-top: 4px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: 155px auto;
    align-items: start;
    justify-items: start;
    row-gap: 16px;
    column-gap: 30px;
    margin: 16px 0 24px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin: 0;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__table-heading {
    margin: 0;
    font-weight: 600;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      &:nth-of-type(1) {
        margin-top: 8px;
      }

      &:nth-of-type(2) {
        margin-top: 16px;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 16px;
        margin-bottom: 12px;
      }
    }
  }

  &__table-data {
    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-bottom: 6px;
      }
    }
  }

  &__tooltip {
    margin-top: 4px;
    font-size: 13px;
    line-height: 16px;
  }

  &__rating-star {
    height: 100%;
  }

  &__rating {
    margin-right: 5px;
  }

  &__product-image {
    width: 40px;
    height: 56px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__product-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
  }

  &__product {
    position: relative;
    height: 56px;
  }

  &__payment {
    margin: 16px 0 10px;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin: 8px 0 16px;
    }
  }

  &__payment-tip {
    margin: 0;
    padding-top: 8px;
    font-size: 13px;
    line-height: 16px;
    color: $color-system-gray;
  }

  &__recipient-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    row-gap: 22px;
    max-width: 700px;
    margin-top: 38px;
    margin-bottom: 10px;

    @media screen and (min-width: calc($screen-width-desktop-l + 1px)) {
      max-width: 100%;
    }

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      margin-top: 22px;
      gap: 31px;
      grid-template-columns: 1fr;
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    object-fit: cover;
    grid-column: span 2;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      grid-column: auto;
    }

    &_wide {
      grid-column: span 3;
      grid-row: span 2;

      @media screen and (max-width: calc($screen-width-tablet - 1px)) {
        grid-column: auto;
      }
    }
  }

  &__input {
    width: inherit;
    margin-bottom: 4px;
    border: none;
    border-bottom: 1px solid $color-background-black-transparent-20;

    &:focus {
      outline: none;

      & + .order-details__input-label {
        top: -21px;
        font-size: 13px;
        line-height: 16px;
      }
    }

    &:not(:placeholder-shown) + .order-details__input-label {
      top: -21px;
      font-size: 13px;
      line-height: 16px;
    }

    &_error {
      color: $color-system-orange;
      border-color: $color-system-orange;
    }
  }

  &__input-label {
    position: absolute;
    top: -3px;
    transition: all 0.2s linear;
    color: $color-system-gray;
  }

  &__input-error {
    display: block;
    width: inherit;
    min-height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: $color-system-orange;

    &_tip {
      color: $color-text-black;
    }
  }
}
