.refund {
  position: relative;
  display: flex;
  align-items: center;
  gap: 9px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 16px;

  @media screen and (max-width: calc($screen-width-tablet - 1px)) {
    padding-top: 22px;
    padding-left: 9px;
    padding-right: 9px;
    padding: 22px 9px 13px;
  }

  &__icon {
    min-width: 22px;
    width: 22px;
    height: 22px;
    background-image: url("./images/svg/check-mark_icon_2.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    margin: 0;
  }

  &_place_summary {
    margin: 14px 0 4px;
    padding: 8px 8px 10px;
    border-radius: 8px;
    background-color: $color-background-smoky;

    @media screen and (max-width: calc($screen-width-tablet - 1px)) {
      background-color: $color-background-smoky-dark;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }

  &__tip {
    color: $color-text-green;
    border-bottom: 1px dashed $color-text-green-transparent-20;
  }

  &__tip-text {
    cursor: pointer;
  }
}
