$color-system-white: #fff;
$color-system-black: #000;
$color-system-gray: #9797af;
$color-system-orange: #f55123;
$color-system-violet: #6725a8;

$color-background-smoky: #f6f6fa;
$color-background-white: #fff;
$color-background-white-transparent: rgba(255, 255, 255, 0.2);

$color-text-black: #000;
$color-text-green: #0cb477;

$color-interface-accent-1: #cb11ab;
