$color-system-white: #fff;
$color-system-black: #000;
$color-system-gray: #9797af;
$color-system-orange: #f55123;
$color-system-violet: #6725a8;

$color-background-smoky: #f6f6fa;
$color-background-smoky-dark: #f0ecf4;
$color-background-white: #fff;

$color-background-white-transparent-20: rgba(255, 255, 255, 0.2);
$color-background-white-transparent-45: rgba(255, 255, 255, 0.45);
$color-background-white-transparent-70: rgba(255, 255, 255, 0.7);
$color-background-black-transparent-10: rgba(0, 0, 0, 0.1);
$color-background-black-transparent-15: rgba(0, 0, 0, 0.15);
$color-background-black-transparent-20: rgba(0, 0, 0, 0.2);
$color-background-black-transparent-30: rgba(0, 0, 0, 0.3);

$color-text-black: #000;
$color-text-green: #0cb477;

$color-interface-accent-1: #cb11ab;
$color-interface-accent-2: #ccc;

$color-interface-accent-1-transparent-15: rgba(203, 17, 171, 0.15);
$color-interface-accent-1-transparent-20: rgba(203, 17, 171, 0.2);
$color-text-green-transparent-20: rgba(12, 180, 119, 0.2);

$color-modal-overlay: rgba(5, 0, 10, 0.3);
